@import "tailwindcss";

@font-face {
  font-family: "Montserrat-Black";
  src: url('./assets/fonts/Montserrat-Black.ttf');
}

@font-face {
  font-family: "Montserrat-Black-Italic";
  src: url('./assets/fonts/Montserrat-BlackItalic.ttf');
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url('./assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url('./assets/fonts/Montserrat-Regular.ttf');
}


@theme {
  --font-montserrat-black: "Montserrat-Black";
  --font-montserrat-black-italic: "Montserrat-Black-Italic";
  --font-montserrat-bold: "Montserrat-Bold";
  --font-montserrat-regular: "Montserrat-Regular";
  --font-montserrat-medium: "Montserrat-Medium";

  --color-blue-primary: #4085cb;
  --color-gray: #E9E9E9;
}


@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}


@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



@keyframes soft-alert {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}